*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Montserrat", sans-serif;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container-left {
    flex: 1;
    padding: 50px;
}

.container-right {
    width: 550px;
    height: 750px;
    background-color: rgb(93, 93, 125, 0.4);
    position: relative;
}
h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 400;
    color: #5D5D7D;
    margin-top: 300px;
    margin-bottom: 20px;
}

p {
    font-size: 28px;
    line-height: 48px;
    width: 900px;
    color: #5D5D7D;
    opacity: 0.6;
    
}
button{
    font-size: 24px;
    border-radius: 40px;
    color: #FFFFFF;
    background: #9499EA;
    width: 269px;
    height: 62px;
    border: none;
    cursor: pointer;
}

.link-header{
    margin-right: 41px;
    font-size: 28px;
    color: #5D5D7D;
    font-weight: 400;
    cursor: pointer;

}

img{
    margin-top: 130px;
    
}





